<div>
  <span class="brand" style="font-weight:bold;">{{authorityRuleDialog.title}}</span>
  <div class="card" style="margin-top: 20px;margin-bottom: 10px;">
    <div class="panel-body">
      <div class="row">
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label class="col-sm-2 control-label">资源名</label>
            <div class="col-sm-9">
              <input class="form-control" disabled="" ng-if="authorityRuleDialog.type == 'edit'" ng-model='currentRule.rule.resource'
                     placeholder="资源名"
                     type="text"/>
              <input class="form-control highlight-border" ng-if="authorityRuleDialog.type == 'add'" ng-model='currentRule.rule.resource'
                     placeholder="资源名称" type="text"
              />
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label">流控应用</label>
            <div class="col-sm-9">
              <input class="form-control highlight-border" ng-model='currentRule.rule.limitApp' placeholder='指调用方，多个调用方名称用半角英文逗号（,）分隔'
                     type="text"
              />
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label">授权类型</label>
            <div class="col-sm-4">
              <div align="center" class="form-control highlight-border">
                <input checked name="strategy" ng-model='currentRule.rule.strategy' type="radio" value="0"/>&nbsp;白名单&nbsp;&nbsp;
                <input name="strategy" ng-model='currentRule.rule.strategy' type="radio" value="1"/>&nbsp;黑名单
              </div>
            </div>
          </div>

        </form>
      </div>
      <div class="separator"></div>
      <div clss="row" style="margin-top: 20px;">
        <button class="btn btn-outline-danger" ng-click="closeThisDialog()"
                style="float:right; height: 30px;font-size: 12px;margin-left: 10px;">取消
        </button>
        <button class="btn btn-outline-success" ng-click="saveRule()"
                style="float:right; height: 30px;font-size: 12px;margin-left: 10px;">{{authorityRuleDialog.confirmBtnText}}
        </button>
        <button class="btn btn-default" ng-click="saveRuleAndContinue()"
                ng-if="authorityRuleDialog.saveAndContinueBtnText"
                style="float:right; height: 30px;font-size: 12px;">{{authorityRuleDialog.saveAndContinueBtnText}}
        </button>
      </div>
    </div>
  </div>
</div>
